<h3><%= @listing.name %></h3>
<p>
  <%= @listing.monthly_rental_price %><br>
  Bedrooms: <%= @listing.num_bedrooms %> <br>
  Bathrooms: <%= @listing.num_bathrooms %> <br>
  <a href="<%= @listing.url %>" target="_blank">more info</a> <br> <br>
  <%= link_to "home", '/' %>
</p>